* {
  box-sizing: border-box;
}

body {
  font: 15px Helvetica, Arial, sans-serif;
  color: #fff;
  padding-top: 0px;
  background: #1e1e1e;
}

.top-bar {
  position: sticky;
  top: 0px;
  background: #333;
  padding: 0.5rem;
}

.top-bar input {
  margin-right: 2px;
}

.tabs {
  display: inline-block;
}

.tabs > span {
  cursor: pointer;
  padding: 0.5rem;
  margin: 2px;
  background: #000;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  border: none;
  outline: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  text-align: left;
  padding: 0.5rem;
  border-bottom: 1px solid #ddd;
}

td {
  width: 33.33%;
  word-break: break-all;
  padding: 0.5rem;
}

tr {
  cursor: pointer;
}

tbody tr:hover {
  background: #666;
}

tbody tr:nth-child(odd):not(:hover) {
  background-color: #333;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
  color: red;
}
