* {
  box-sizing: border-box;
}

body {
  font: 15px Helvetica, Arial, sans-serif;
  color: #fff;
  padding-top: 0px;
  background: #1e1e1e;
}

.top-bar {
  position: sticky;
  top: 0px;
  background: #333;
  padding: 0.5rem;
}

.top-bar > input {
  margin-right: 2px;
}

.tabs {
  display: inline-block;
}

.tabs > span {
  cursor: pointer;
  padding: 0.5rem;
  margin: 2px;
  background: #000;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  border: none;
  outline: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  text-align: left;
  padding: 0.5rem;
  border-bottom: 1px solid #ddd;
}

td {
  width: 33.33%;
  word-break: break-all;
  padding: 0.5rem;
}

td > div {
  width: max-content;
  cursor: pointer;
}

tbody > tr:nth-child(odd) {
  background-color: #333;
}
